<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<th:block th:fragment="footer">
	
		<div class="category flex center">
			<ul>
				<li>윤진컴퍼니 지원</li>
				<li><a href="#">도움말 센터</a></li>
				<li><a href="#">안전 정보</a></li>
				<li><a href="#">예약 취소 옵션</a></li>
				<li><a href="#">윤진컴퍼니의 코로나19 대응 방안</a></li>
				<li><a href="#">장애인 지원</a></li>
				<li><a href="#">이웃 민원 신고</a></li>
			</ul>
			<ul>
				<li>커뮤니티</li>
				<li><a href="#">yjcom.org: 재난 구호 숙소</a></li>
				<li><a href="#">아프간 난민 지원</a></li>
				<li><a href="#">다양성과 소속감 증진</a></li>
				<li><a href="#">차별 철폐를 위한 노력</a></li>
			</ul>
			<ul>
				<li>호스팅</li>
				<li><a href="#">호스팅 시작하기</a></li>
				<li><a href="#">윤진커버: 호스트를 위한 보호 프로그램</a></li>
				<li><a href="#">호스팅 자료 둘러보기</a></li>
				<li><a href="#">커뮤니티 포럼 방문하기</a></li>
				<li><a href="#">책임감 있는 호스팅</a></li>
			</ul>
			<ul>
				<li>소개</li>
				<li><a href="#">뉴스룸</a></li>
				<li><a href="#">새로운 기능에 대해 알아보기</a></li>
				<li><a href="#">윤진컴퍼니 공동창업자의 메시지</a></li>
				<li><a href="#">채용정보</a></li>
				<li><a href="#">투자자 정보</a></li>
				<li><a href="#">윤진컴퍼니 Luxe</a></li>
			</ul>	
		</div>
		<section class="corporation">
			<div>
				<ul class="flex">
					<li><a href="#">&copy; 2022 YJCOM</a></li>
					<li><a href="#">개인정보 처리방침</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">사이트맵</a></li>
					<li><a href="#">한국의 변경된 환불 정책</a></li>
					<li><a href="#">회사 세부정보</a></li>
				</ul>
			</div>
		</section>
	
	</th:block>
</html>
