@charset "UTF-8";

.host-view-size{
	width: 600px;
	margin: 0 auto;
}
/* ////////////////////////// */
#host-header{
	background-size: cover;
	background-color: #f0f0f0;
}
header .logo{
	margin: auto 0;
}
header .big-search ul li a{
	line-height:80px;
	font-size: 18px;
	padding: 10px 16px 10px 16px;
}
header .host a{
	line-height:80px;
	font-size: 14px;
	padding: 10px 16px 10px 16px;
}
header .user_pic{
	border-radius: 20px;
	margin-top: 20px;
	cursor: pointer;
}
/* //////////////////////////////////////// */
.room-regist{
	text-align: center;
	margin-top: 35px;
}

p{
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
	color: #ff2e5f;
}
.room-regist{
	text-align: center;
}
input{
	width: 600px;
	height: 45px;
	padding: 0 10px;
	margin-top: 10px;
	border: 1px solid #e9e9e9;
	border-radius: 8px;
}
textarea{
	width: 600px;
	height: 300px;
	padding: 10px 10px;
	margin-top: 10px;
	border: 1px solid #e9e9e9;
	border-radius: 6px;
}
.roomPrice input{
	width: 550px;
}
.roomPrice p{
	font-size: 17px;
	color: black;
	padding: 5px 5px 0 0;
	font-weight: 500;
}
.detail-info input{
	width: 145px;
}
/* ////////////////////////// */
button{
	margin:40px 0 40px 0
	;
	border: none;
	width: 600px;
	height: 50px;
	background-color: #ff2e5f;
	border-radius: 3px;
	color: white;
	font-size: 18px;
	font-weight: 600;	
	cursor: pointer;
}
/* ////////////////////////// */
.box-radio-input input[type="radio"], input[type="checkbox"]{
  display:none;
}
.box-radio-input input[type="radio"] + span, input[type="checkbox"] + span{
	margin:10px 0 0 0;
  display:inline-block;
  background:none;
  border:1px solid #e9e9e9;  
  text-align:center;
  height:45px;
  line-height:43px;
  font-weight:400;
  cursor:pointer;
  width: 194px;
  font-size: 14px;
  border-radius: 6px;
}
.box-radio-input input[type="radio"]:checked + span, input[type="checkbox"]:checked + span{
  background: #ff2e5f;
  color:#fff;
}