<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/common/header-nav.css">
		<link rel="stylesheet" href="/css/home/home-review.css">
	</head>
	<body>
	
	<header id="whitetype">
	<div class="view-size">
	<th:block th:replace="~{/common/header::whitetype(~{this::homeMain})}">
		<div class="search" th:fragment="homeMain">
			<div class="big-search" th:fragment="indexMain">
				<ul class="flex">
					<li><a href="/home/list">숙소</a></li> 
					<li><a href="#">체험</a></li>
					<li><a href="#">온라인체험</a></li>
				</ul>
			</div>
		</div>
	</th:block>
	</div>
	</header>
		
		<main>
			<section id="home-review">
				<div class="home-review home-review-view-size">
					<form action="/member/home/review" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<input type="hidden" name="">
						<div>
							<p>숙소후기</p>
							<div th:each="reservedHome:${reservedHome}">
							<select name="reservedHome" class="reservedHome">
								<option>[[${reservedHome.homeName}]]</option>
							</select>
							<div>
								<textarea name="homeReview"></textarea>									
							</div>
							<button type="submit">등록하기</button>
							</div>
						</div>
					</form>	
				</div>
			</section>
		</main>
		
		<footer>
			<th:block th:insert="/common/footer::footer"/>	
		</footer>	
	
	</body>
</html>