<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/common/header-nav.css">
		<link rel="stylesheet" href="/css/member/member-info.css">
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
	</head>
	<header>
		<section id="member-info-header">
			<div class="flex between view-size">
				<div class="logo">
					<a href="/"><img src="/image/airbnb_logo-p.png" width=120px></a>
				</div>
				<div class="big-search">
					<ul class="flex">
						<li><a href="/home/reg">숙소등록</a></li>
						<li><a href="#">메세지</a></li>
					</ul>
				</div>
				<th:block th:insert="/common/header-nav.html::header-nav"/>	
			</div>
		</section>
	</header>
		
	<body>
		<main class="flex center">
		<div>
			<section>
				<div id="member-profile" class="view-size">
					<h1>프로필</h1>
					<div class="edit">
						<div>
							<button class="btn-edit">프로필 수정</button>
						</div>
						<div class="flex btn-profile-edit" style="display: none;">
							<button class="btn-profile-edit-update">수정</button>
							<button class="btn-profile-edit-cancel">취소</button>
						</div>
					</div>
					<div>
						<img src="/image/user_pic.png" width="150px">
					</div>
					<div class="default-profile">
						<ul>
							<li class="flex between">
								<div class="flex">
								<div>이름</div>
								<div>[[${member.name}]]</div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>이메일</div>
								<div>[[${member.email}]]</div>
								</div>
							</li>
							<li class="flex">
								<div class="flex">
								<div>번호</div>
								<div>[[${member.phoneNumber}]]</div>
								</div>
							</li>
							<li class="flex">
								<div class="flex">
								<div>주소</div>
								<div>[[${member.address}]]</div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>생일</div>
								<div>[[${member.birthday}]]</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- //////////////////////////////////////////////// -->
					<div class="edit-profile" style="display: none;">
						<ul>
							<li class="flex between">
								<div class="flex">
								<div>이름</div>
								<div><input name="name" class="name" type="text" th:value="${member.name}"></div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>이메일</div>
								<div>[[${member.email}]]</div>
								<input name="email" class="email" type="hidden" th:value="${member.email}">
								</div>
							</li>
							<li class="flex">
								<div class="flex">
								<div>번호</div>
								<div><input name="phoneNumber" class="phoneNumber" type="text" th:value="${member.phoneNumber}"></div>
								</div>
							</li>
							<li class="flex">
								<div class="flex">
								<div>주소</div>
								<div><input name="address" class="address" type="text" th:value="${member.address}"></div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>생일</div>
								<div>[[${member.birthday}]]</div>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
			</section>
			<script type="text/javascript">
			
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(function(){
					$(".btn-edit").click(function(){
						$(this).hide();
						$(".btn-profile-edit").show();
						$(".default-profile").hide();
						$(".edit-profile").show();
					});
					$(".btn-profile-edit-cancel, .btn-profile-edit-update").click(function(){
						$(".btn-profile-edit").hide();
						$(".default-profile").show();
						$(".edit-profile").hide();
						$(".btn-edit").show();
					});
					 

					 $(document).ajaxSend(function(e, xhr, options) {
					        xhr.setRequestHeader(header, token);
					    });
					 
					$(".btn-profile-edit-update").click(function(){
						
						var email=$(".email").val();
						var name=$(".name").val();
						var phoneNumber=$(".phoneNumber").val();
						var address=$(".address").val();
						
						$.ajax({
							url:"/member",
							type:"put",
							data:{
								email:email,
								name:name,
								phoneNumber:phoneNumber,
								address:address},
							success:function(){
								 location.reload()
								 /* loadingReplies() */
							}
						});
					});
					
				});
				
				function loadingReplies(){
       				$.ajax({
       					url:"/member/info",
       					type:"get"
       				});	
       			}
			</script>
			</div>
			<div>
			<section>
				<div id="part" class="view-size">
					<ul class="flex center">
						<li class="guest">GUEST<p class="guest-bar"></p></li>
						<li class="host">HOST<p class="host-bar" style="display: none;"></p></li>
					</ul>
				</div>
			</section>
			
			<section id="part-detail">
			<!-- //////////////////////////////////guest/////////////////////////////////////////// -->
				<div id="guest-part">
					<div class="reserve-room">
						<P>예약한 숙소</P>
						<div class="reserve-room-list flex">
							<div><img src="/image/room-img-01.jpg" width="280px" height="180px"></div>
							<div class="home-info">
								<div>
									<ul>
										<li>숙소유형</li>
										<li class="home-name"><a href="/home/detail">house#1. Hangang view house</a></li>
										<li class="home-filter">
											<span>최대인원4명</span><span>원룸</span><span>침대1</span><span>욕실1</span>
										</li>
									</ul>
									<ul class="home-price">
										<li>100,000원&nbsp;<span>/박</span></li>
									</ul>
								</div>
							</div>
							<div class="home-comment">
								<ul class="flex">
									<li>별점</li>
									<li>(후기)</li>
								</ul>
							</div>
						</div>
					</div>
				
					<div class="review">
						<P>내가 작성한 후기</P>
						<div class="review-list">
							<div>2022-01-10</div>
							<div class="room-name">
								<a href="/home/detail">house#1. Hangang view house</a>
							</div>
							<div>
								조명과 가구 소품 하나하나, 게스트의 휴식을 위해 섬세하게 준비한 집이예요.<br>
								안전샤시로 된 창호를 모든 공간에 시공하여 채광과 단열이 모두 좋습니다. 
								지하철과 이마트가 가깝고 부엌과 거실이 널찍해 오래 생활하기에도 적합합니다.
							</div>
						</div>
						
						<div class="review-list">
							<div>2022-01-10</div>
							<div class="room-name">
								<a href="/home/detail">house#1. Hangang view house</a>
							</div>
							<div>
								조명과 가구 소품 하나하나, 게스트의 휴식을 위해 섬세하게 준비한 집이예요.<br>
								안전샤시로 된 창호를 모든 공간에 시공하여 채광과 단열이 모두 좋습니다. 
								지하철과 이마트가 가깝고 부엌과 거실이 널찍해 오래 생활하기에도 적합합니다.
							</div>
						</div>
						
						<div class="review-list">
							<div>2022-01-10</div>
							<div class="room-name">
								<a href="/home/detail">house#1. Hangang view house</a>
							</div>
							<div>
								조명과 가구 소품 하나하나, 게스트의 휴식을 위해 섬세하게 준비한 집이예요.<br>
								안전샤시로 된 창호를 모든 공간에 시공하여 채광과 단열이 모두 좋습니다. 
								지하철과 이마트가 가깝고 부엌과 거실이 널찍해 오래 생활하기에도 적합합니다.
							</div>
						</div>
					</div>
				</div>
			<!-- //////////////////////////////////host/////////////////////////////////////////// -->
				<div id="host-part" style="display: none;">
					<div class="reserve-room">
						<P>내가 등록한 숙소</P>
						<div th:each="hostHome:${hostHome}">
							<div class="reserve-room-list flex" >
								<div><img src="/image/room-img-01.jpg" width="280px" height="180px"></div>
								<div class="home-info">
									<div>
										<ul>
											<li>[[${hostHome.homeType}]]</li>
											<li class="home-name"><a th:href="|/home/detail/${hostHome.hno}|">[[${hostHome.homeName}]]</a></li>
											<li class="home-number">
												<div class="flex">
													<div>최대인원 <span>[[${hostHome.maximumNumber}]]</span>명</div>
													<div>침대 <span>[[${hostHome.bedNumber}]]</span>개</div>
													<div>침실 <span>[[${hostHome.bedroomNumber}]]</span>개</div>
													<div>욕실 <span>[[${hostHome.bathroomNumber}]]</span>개</div>
												</div>
											</li>
											<li class="home-filter">
												<span th:each="hoH : ${hostHome.homeOptionSet}">[[${hoH.homeOption}]]</span>
											</li>
										</ul>
										<ul class="home-price">
											<li>[[${hostHome.homePrice}]]원&nbsp;<span>/박</span></li>
										</ul>
									</div>
								</div>
								<div class="home-comment">
									<ul class="flex">
										<li>별점</li>
										<li>(후기)</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				
					<div class="review">
						<P>나의 숙소 후기</P>
						<div class="review-list">
							<div>2022-01-10</div>
							<div class="room-name">
								<a href="/homes/detail">house#1. Hangang view house</a>
							</div>
							<div>
								조명과 가구 소품 하나하나, 게스트의 휴식을 위해 섬세하게 준비한 집이예요.<br>
								안전샤시로 된 창호를 모든 공간에 시공하여 채광과 단열이 모두 좋습니다. 
								지하철과 이마트가 가깝고 부엌과 거실이 널찍해 오래 생활하기에도 적합합니다.
							</div>
						</div>
						
						<div class="review-list">
							<div>2022-01-10</div>
							<div class="room-name">
								<a href="/homes/detail">house#1. Hangang view house</a>
							</div>
							<div>
								조명과 가구 소품 하나하나, 게스트의 휴식을 위해 섬세하게 준비한 집이예요.<br>
								안전샤시로 된 창호를 모든 공간에 시공하여 채광과 단열이 모두 좋습니다. 
								지하철과 이마트가 가깝고 부엌과 거실이 널찍해 오래 생활하기에도 적합합니다.
							</div>
						</div>
					</div>
				</div>
			</section>
			</div>
			<script type="text/javascript">
			 $(function(){
				 
				 
				 $(".host").click(function(){
					 $("#guest-part").hide();
					 $(".guest-bar").hide();
					 $("#host-part").show();
					 $(".host-bar").show();
				 });
				 
				 $(".guest").click(function(){
					 $("#guest-part").show();
					 $(".guest-bar").show();
					 $("#host-part").hide();
					 $(".host-bar").hide();
				 });
			 });
			
			</script>
		</main>
	</body>
</html>