<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/common/header-nav.css">
		<link rel="stylesheet" href="/css/member/member-info.css">
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
	</head>
	<header>
		<section id="member-info-header">
			<div class="flex between view-size">
				<div class="logo">
					<a href="/"><img src="/image/airbnb_logo-p.png" width=120px></a>
				</div>
				<div class="big-search">
					<ul class="flex">
						<li><a href="/host/regist">숙소등록</a></li>
						<li><a href="#">메세지</a></li>
					</ul>
				</div>
				<th:block th:insert="/common/header-nav.html::header-nav"/>	
			</div>
		</section>
	</header>
		
	<body>
		<main>
			<section>
				<div id="member-profile" class="view-size flex between">
					<h1>프로필</h1>
					<div>
						<img src="/image/user_pic.png" width="180px">
					</div>
					<div class="default-profile">
						<ul>
							<li class="flex between">
								<div class="flex">
								<div>이름</div>
								<div>[[${member.name}]]</div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>이메일</div>
								<div>[[${member.email}]]</div>
								</div>
							</li>
							<li class="flex between">
								<div class="flex">
								<div>번호</div>
								<div>[[${member.phoneNumber}]]</div>
								</div>
							</li>
							<li class="flex between">
								<div class="flex">
								<div>주소</div>
								<div>[[${member.address}]]</div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>생일</div>
								<div>[[${member.birthday}]]</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- //////////////////////////////////////////////// -->
					<div class="edit-profile" style="display: none;">
						<ul>
							<li class="flex between">
								<div class="flex">
								<div>이름</div>
								<div><input name="name" class="name" type="text" th:value="${member.name}"></div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>이메일</div>
								<div>[[${member.email}]]</div>
								<input name="email" class="email" type="hidden" th:value="${member.email}">
								</div>
							</li>
							<li class="flex between">
								<div class="flex">
								<div>번호</div>
								<div><input name="phoneNumber" class="phoneNumber" type="text" th:value="${member.phoneNumber}"></div>
								</div>
							</li>
							<li class="flex between">
								<div class="flex">
								<div>주소</div>
								<div><input name="address" class="address" type="text" th:value="${member.address}"></div>
								</div>
							</li>
							<li>
								<div class="flex">
								<div>생일</div>
								<div>[[${member.birthday}]]</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="edit">
						<div>
							<button class="btn-edit">프로필 수정</button>
						</div>
						<div class="flex btn-profile-edit" style="display: none;">
							<button class="btn-profile-edit-update">수정</button>
							<button class="btn-profile-edit-cancel">취소</button>
						</div>
					</div>
				</div>
			</section>
			<script type="text/javascript">
			
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(function(){
					$(".btn-edit").click(function(){
						$(this).hide();
						$(".btn-profile-edit").show();
						$(".default-profile").hide();
						$(".edit-profile").show();
					});
					$(".btn-profile-edit-cancel, .btn-profile-edit-update").click(function(){
						$(".btn-profile-edit").hide();
						$(".default-profile").show();
						$(".edit-profile").hide();
						$(".btn-edit").show();
					});
					
					 $(document).ajaxSend(function(e, xhr, options) {
					        xhr.setRequestHeader(header, token);
					    });
					 
					$(".btn-profile-edit-update").click(function(){
						var email=$(".email").val();
						var name=$(".name").val();
						var phoneNumber=$(".phoneNumber").val();
						var address=$(".address").val();
						
						$.ajax({
							url:"/member",
							type:"put",
							data:{
								email:email,
								name:name,
								phoneNumber:phoneNumber,
								address:address
							}
						});
					});
				});
			</script>
		</main>
	</body>
</html>