<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/common/header-nav.css">
		<link rel="stylesheet" href="/css/member/member-info.css">
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<!-- /////////////////////////ajax+시큐리티 사용 시//////////////////////////////////////// -->
	</head>
	<body>
	
	<header id="whitetype">
	<div class="view-size">
	<th:block th:replace="~{/common/header::whitetype(~{this::homeMain})}">
		<div class="search" th:fragment="homeMain">
			<div class="big-search" th:fragment="indexMain">
				<ul class="flex">
					<li><a href="/home/list">숙소</a></li> 
					<li><a href="#">체험</a></li>
					<li><a href="#">온라인체험</a></li>
				</ul>
			</div>
		</div>
	</th:block>
	</div>
	</header>
	
		<main class="flex around view-size">
		<div>
			<section>
				<div id="member-profile" th:each="member:${memberInfo}">
					<h1>프로필</h1>
					
					<div class="profile-img">
						<img th:unless="${member.photoName}" src="/image/user_pic2.png" width="128px">
						<img th:if="${member.photoName}" class="member-photo" th:src="|/image/member/${member.photoName}|" width="128px">
						<p><a href="/member/info/photo">사진 업데이트하기</a></p>
					</div>
					
					<div class="badge">
						<h2>본인인증</h2>
						<p>본인 인증 배지를 통해 본인 인증을 마쳤다는 사실을 다른 사용자에게 보여줄 수 있습니다.</p>
						<button type="button">배지 받기</button>
					</div>
					
					<div class="confirm">
						<h2>[[${member.name}]] 인증완료</h2>
						<p><i class="fas fa-check"></i>이메일 주소</p>
						<p><i class="fas fa-check"></i>전화번호</p>
					</div>
				</div>
			</section>
			</div>
			<div>
			<section>
				<div id="part" class="view-size">
					<ul class="flex center">
						<li class="guest">GUEST<p class="guest-bar"></p></li>
						<li sec:authorize="hasRole('ROLE_HOST')" class="host">HOST<p class="host-bar" style="display: none;"></p></li>
					</ul>
				</div>
			</section>
			
			<!-- //////////////////////////////////guest/////////////////////////////////////////// -->
			<script type="text/javascript">
			
			$(function(){
				$(".review-write-btn").click(function(){
					$(this).parent().parent("div").siblings("div").children(".review-write-area").show();
					$(this).parent().siblings(".edit-button").show();
				});
				$(".cancel-btn").click(function(){
					$(this).parent().parent("div").siblings("div").children(".review-write-area").hide();
					$(this).parent(".edit-button").hide();
				});
				
				$(".submit-btn").click(function(){
					
					var review = $(this).parent().parent("div").siblings("div").children(".review-write-area").val();
					var hno= $(this).siblings(".home-id").val();
					var resNo= $(this).siblings(".reservation-id").val();
					
					$.ajax({
						url:"/member/home/review/"+hno+"/"+resNo,
						type:"post",
						data:{
							review:review
						},
						success:function(){
							 location.reload()
						}
					});
					$(this).parent().parent("div").siblings("div").children(".review-write-area").hide();
				});
				
				
				/////////////////////////날짜값///////////////////////////
				
					
	            var checkin = $(".checkin").val();
	            var checkout = $(".checkout").val();
				
				console.log("체크인날짜는:"+ checkin);
				
				var inarr=checkin.split("-");
				var outarr=checkout.split("-");
				
				var indate=new Date(inarr[0],inarr[1],inarr[2])
				var outdate=new Date(outarr[0],outarr[1],outarr[2])
				
				var dif = outdate - indate;
				var btDay=dif / (1000*60*60*24);
				
				if(checkin && checkout){
					$(".days").text(btDay);
				 }
				console.log("일수차이는:"+ btDay);
				
				var homeprice =$(".homeprice").val();
					
				console.log("1박 가격:"+ homeprice);
				
				
				var periodhomeprice =homeprice*btDay
				var commission =periodhomeprice*0.1
				var total = periodhomeprice + commission
				
				
				if(btDay!="" && checkout!=""){
					$(".periodhomeprice").html(periodhomeprice.toLocaleString()+"원");
					$(".commission").html(commission.toLocaleString()+"원");
					$(".total").html(total.toLocaleString()+"원");
					$("#total").val(total);
					
				}
				
				
			});
			</script>
			<section id="part-detail">
				<div id="guest-part">
					<P>예약한 숙소</P>
					<div class="reserve-room flex">
						<div th:unless="${reservedHomes}">현재 투숙 예정 숙소가 없습니다.</div>
						<div  th:each="reservedHome:${reservedHomes}">
							<div class="reserve-room-list" >
								<div class="reserve-info1 flex">
									<div><img src="/image/room-img-01.jpg" width="140px" height="110px"></div>
									<div class="home-info">
										<div>
											<ul>
												<li class="home-type">[[${reservedHome.home.homeType}]]</li>
												<li class="home-name"><a th:href="|/home/detail/${reservedHome.home.hno}|">[[${reservedHome.home.homeName}]]</a></li>
												<li class="home-number">
													<div class="flex">
														<div>최대인원 <span>[[${reservedHome.home.maximumNumber}]]</span>명 </div>
														<div>침대 <span>[[${reservedHome.home.bedNumber}]]</span>개 </div>
														<div>침실 <span>[[${reservedHome.home.bedroomNumber}]]</span>개 </div>
														<div>욕실 <span>[[${reservedHome.home.bathroomNumber}]]</span>개</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="reserve-info0">
									<div class="reserve-info2 flex between">
										<h3>숙박 일정</h3>
										<span class="schedule">[[${#temporals.format(reservedHome.checkIn,'MM월dd일')}]] ~ [[${#temporals.format(reservedHome.checkOut,'MM월dd일')}]]</span>
										<input class="checkin" type="hidden" th:value="${reservedHome.checkIn}">
										<input class="checkout" type="hidden" th:value="${reservedHome.checkOut}">
									</div>
									
									<div class="reserve-info3 flex between">
										<h3>게스트 인원</h3>
										<span>[[${reservedHome.guests}]]명</span>
									</div>
									
									<div class="reserve-info4">
										<h3>요금 세부 정보</h3>
										<div class="detail-price1 flex between">
											<input class="homeprice" type="hidden" th:value="${reservedHome.home.homePrice}">
											<span>[[${#numbers.formatInteger(reservedHome.home.homePrice,3,'COMMA')}]]원 X <span>[[${reservedHome.days}]]</span></span>
											<span>[[${#numbers.formatInteger((reservedHome.home.homePrice*reservedHome.days),3,'COMMA')}]]원</span>
										</div>
										<div class="flex between">
											<span>서비스 수수료</span>
											<span>[[${#numbers.formatInteger((reservedHome.home.homePrice*reservedHome.days)*0.1,3,'COMMA')}]]원</span>
										</div>
										<div class="flex between">
											<span>총 합계</span>
											<span>[[${#numbers.formatInteger(reservedHome.totalPrice,3,'COMMA')}]]원</span>
										</div>
									</div>
								</div>
								
								<div id="review" class="review">
									<div  th:if="${reservedHome.review}">
										<div>
											<div class="flex">
												<p>내가 작성한 후기</p>
												<p>[[${reservedHome.review.createdDate.toLocalDate}]]</p>
											</div>
											<div class="review-data">[[${reservedHome.review.review}]]</div>
										</div>
										
									</div>
									
									<div class="write"  th:unless="${reservedHome.review}" >
										<div class="flex between">
											<div class="flex">
												<p>내가 작성한 후기</p>
												<p class="review-write-btn">후기 작성하기</p>
											</div>
											<div class="edit-button" style="display: none;">
												<input class="reservation-id" type="hidden" th:value="${reservedHome.resNo}">
												<input class="home-id" type="hidden" th:value="${reservedHome.home.hno}">
												<button class="submit-btn" type="submit">등록하기</button>
												<button class="cancel-btn" type="button">취소하기</button>
											</div>
										</div>
										<div>
											<textarea name="review" style="display: none;" class="review-write-area"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="paging">
						<span th:each="paging:${#numbers.sequence( 1, pageTot)}">
	       					<a th:href="|/member/info?page=${paging}|"></a>
	       				</span>
					</div>
				</div>
			<!-- //////////////////////////////////host/////////////////////////////////////////// -->
				<div id="host-part" style="display: none;">
					<div class="reserve-room">
						<P>내가 등록한 숙소</P>
						<div th:each="hostHome:${hostHome}">
							<div class="reserve-room-list flex" >
								<div><img src="/image/room-img-01.jpg" width="280px" height="180px"></div>
								<div class="home-info">
									<div>
										<ul>
											<li>[[${hostHome.homeType}]]</li>
											<li class="home-name"><a th:href="|/home/detail/${hostHome.hno}|">[[${hostHome.homeName}]]</a></li>
											<li class="home-number">
												<div class="flex">
													<div>최대인원 <span>[[${hostHome.maximumNumber}]]</span>명</div>
													<div>침대 <span>[[${hostHome.bedNumber}]]</span>개</div>
													<div>침실 <span>[[${hostHome.bedroomNumber}]]</span>개</div>
													<div>욕실 <span>[[${hostHome.bathroomNumber}]]</span>개</div>
												</div>
											</li>
											<li class="home-filter">
												<span th:each="hoH : ${hostHome.homeOptionSet}">[[${hoH.homeOption}]]</span>
											</li>
										</ul>
										<ul class="home-price">
											<li>[[${#numbers.formatInteger(hostHome.homePrice,3,'COMMA')}]]원&nbsp;<span>/박</span></li>
										</ul>
									</div>
								</div>
								<div class="home-comment">
									<ul class="flex">
										<!-- <li>별점</li>
										<li>(후기)</li>
										 -->
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			</div>
			<script type="text/javascript">
			 $(function(){
				 
				 
				 $(".host").click(function(){
					 $("#guest-part").hide();
					 $(".guest-bar").hide();
					 $("#host-part").show();
					 $(".host-bar").show();
				 });
				 
				 $(".guest").click(function(){
					 $("#guest-part").show();
					 $(".guest-bar").show();
					 $("#host-part").hide();
					 $(".host-bar").hide();
				 });
			 });
			
			</script>
		</main>
		
		<footer>
			<th:block th:insert="/common/footer::footer"/>	
		</footer>
	</body>
</html>