@charset "UTF-8";

#join img{
	margin-top: 20px;
}

#join{
	width: 400px;
	margin: 40px auto 0;
	padding: 20px;
	text-align: center;
}
#join .join-title p{
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	color: black;
}
#join .join-title h2{
	text-align: left;
	font-size: 30px;
	font-weight: 600;
	color: black;
}

#join .join-form{
	margin: 20px 0 80px;
}
#join p{
	text-align: left;
	font-size: 12px;
	padding: 5px 0 0 5px;
	color: #ff2e5f;
}

#join input{
	width: 350px;
	height: 45px;
	padding: 0 10px;
	margin-top: 20px;
	border: 1px solid #a9a9a9;
}
#join button{
	margin-top:20px;
	border: none;
	width: 350px;
	height: 50px;
	background-color: #ff2e5f;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-weight: 600;	
	cursor: pointer;
}
#join .join{
	padding: 10px 0 20px 0;
	font-size: 14px;
	text-align: center;
}

/* ////////////////////////// */
#join .box-radio-input input[type="radio"]{
  display:none;
}
#join .box-radio-input input[type="radio"] + span{
	margin:15px 5px 0 5px;
  display:inline-block;
  background:none;
  border:1px solid #e9e9e9;  
  text-align:center;
  height:45px;
  line-height:43px;
  font-weight:400;
  cursor:pointer;
  width: 170px;
  font-size: 14px;
}
#join .box-radio-input input[type="radio"]:checked + span{
	background:rgb(247, 247, 247);
  border:2px solid black;
  color:black;
}

