@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{padding:0; margin:0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
h1{position: absolute; left: -99999px;}
li{list-style: none;}
a{text-decoration: none; color: black;}
input::placeholder{color: black;}


.flex{display: flex;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.start{justify-content: flex-start;}
.end{justify-content: flex-end;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.view-size{width: 1280px; margin: 0 auto};
.index-view-size{width: 1440px; margin: 0 auto;}
.home-view-size{width: 1600px; margin: 0 auto;}

/* //크롬 자동완성 하늘색 배경 제거 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

