<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/log/join.css">
	</head>
	<body>
		<main>
			<div>
				<h1>회원가입</h1>
				<div id="join">
					<a href="/"><img src="/image/airbnb_logo-p.png" width=120px></a>
					<div class="join-form">
						<form action="/join" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							<ul>
								<li>
									<input class="email-check" name="email" type="text" placeholder="이메일을 입력하세요" autocomplete="off" required="required">
									<p></p>
								</li>
								<li>
									<input name="name" type="text" placeholder="이름을 입력하세요" autocomplete="off" required="required">
								</li>
								<li>
									<input class="password-check" name="password" type="password"  placeholder="비밀번호를 입력하세요" required="required">
									<p></p>
								</li>
								<li class="flex center">
									<label for="gender1" class="box-radio-input"><input name="gender" type="radio" id="gender1" value="F"><span>여자</span></label>
									<label for="gender2" class="box-radio-input"><input name="gender" type="radio" id="gender2" value="M"><span>남자</span></label>
								</li>
								<li>
									<input class="phoneNumber-check" name="phoneNumber" type="tel" placeholder="전화번호를 입력하세요" autocomplete="off" required="required">
									<p></p>
								</li>
								<li>
									<input name="birthday" type="date" required="required">
								</li>
								<li>
									<input name="address" type="text" placeholder="주소를 입력하세요" autocomplete="off" required="required">
								</li>
								<li>
									<button type="submit">회원가입</button>
								</li>
							</ul>
						</form>	
						<script type="text/javascript">
						$(function(){
							
							$(".email-check").on("propertychange change keyup paste input", function(){
								
								var email = $('input[name=email]').val();
								
								var checkText = "";
								var emailReg = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

								if( !emailReg.test(email) ) {
									checkText="잘못된 형식의 이메일입니다.";
						        }
								
								if(checkText!= ""){
									$(this).siblings("p").html(checkText);
									$(this).siblings("p").addClass("vali");
									$(this).siblings("p").slideDown();
								} else {
									$(this).siblings("p").slideUp(function(){
										$(this).removeClass("vali");
									});
								}

							});
							$(".password-check").on("propertychange change keyup paste input", function(){
								
								var password = $('input[name=password]').val();
								
								var checkText = "";
								var passwordReg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

								if( !passwordReg.test(password) ) {
									checkText="숫자+영문자+특수문자 조합으로 8자리 이상 사용해주세요";
						        }
								
								if(checkText!= ""){
									$(this).siblings("p").html(checkText);
									$(this).siblings("p").addClass("vali");
									$(this).siblings("p").slideDown();
								} else {
									$(this).siblings("p").slideUp(function(){
										$(this).removeClass("vali");
									});
								}

							});
							$(".phoneNumber-check").on("propertychange change keyup paste input", function(){
								
								var phoneNumber = $('input[name=phoneNumber]').val();
								
								var checkText = "";
								var phoneNumberReg = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;

								if( !phoneNumberReg.test(phoneNumber) ) {
									checkText="잘못된 형식의 번호입니다.";
						        }
								
								if(checkText!= ""){
									$(this).siblings("p").html(checkText);
									$(this).siblings("p").addClass("vali");
									$(this).siblings("p").slideDown();
								} else {
									$(this).siblings("p").slideUp(function(){
										$(this).removeClass("vali");
									});
								}

							});
							
							$("input:radio[id='gender1']").prop('checked', true);
							
							
						});
						
						</script>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>