<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/log/login.css">
	</head>
	<body>
	
		<th:block th:insert="/common/login.html::login"/>
		<header id="whitetype">
		<div class="view-size">
			<th:block th:replace="~{/common/header::whitetype(~{this::homeMain})}">
				<div class="search" th:fragment="homeMain">
				</div>
			</th:block>
		</div>
		</header>
		
		<main>
			<div class="login">
				<h1>로그인</h1>
				<div>
					<img class="close" src="/image/x.png" width="32px" height="32px">
					<p class="login-title">로그인</p>
					<div class="log-form">
						<form action="/login" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<div class="error" th:if="${param.error}">
						[[${session["SPRING_SECURITY_LAST_EXCEPTION"].message}]]
						</div>		
							<ul>
								<li class="welcome">에어비앤비에 오신 것을 환영합니다.</li>
								<li>
									<p>이메일</p>
									<input name="email" type="text" placeholder="이메일을 입력하세요">
								</li>
								<li>
									<p>비밀번호</p>
									<input name="password" type="password" placeholder="비밀번호를 입력하세요">
								</li>
								<li>
									<button type="submit">로그인</button>
								</li>
							</ul>
						</form>
					</div>
					<div class="social-login">
						<div>
							<span class="line"></span><span class="or">또는</span><span class="line"></span>
						</div>
						<div class="google-login">
							<a href="/oauth2/authorization/google">
								<img src="/image/google-logo.png" width="30px">
								<span>구글로 로그인하기</span>
							</a>
						</div>
					</div>
					<p class="join"><a href="/join">회원가입</a></p>
				</div>
			</div>
		
		</main>
		
		<footer>
			<th:block th:insert="/common/footer::footer"/>	
		</footer>
	</body>
</html>