<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/main/main.css">
		<link rel="stylesheet" href="/css/common/datepicker.css">
	</head>
	<body>
	
	
	<th:block th:insert="/common/login.html::login"/>
	<header id="blacktype">
		<div class="index-view-size">
		<th:block th:replace="~{/common/header::blacktype(~{this::indexMain})}">
			<div class="big-search" th:fragment="indexMain">
				<ul class="flex">
					<li><a href="/home/list">숙소</a></li> 
					<li><a href="#">체험</a></li>
					<li><a href="#">온라인체험</a></li>
				</ul>
			</div>
		</th:block>
		</div>
	</header>
		
		<main>
			<form action="/home/search/list" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<div id="search-tab">
				<div class="search">
					<div class="search-detail flex center ">
						<div class="location">
							<div>
								<div>위치</div>
								<input class="region-select" name="location" placeholder="어디로 여행가세요?" autocomplete="off" required="required">
								
								<div class="location-select flex between" style="display: none;">
									<ul>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강남구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강동구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강북구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강서구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 관악구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 광진구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 구로구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 금천구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 노원구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 도봉구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 동대문구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 동작구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 마포구" readonly="readonly"></li>
									</ul>
									<ul>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 서대문구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 서초구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 성동구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강남구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 성북구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 양천구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 영등포구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 용산구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 은평구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 강남구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 종로구" readonly="readonly"></li>
										<li class="flex"><p><img src="/image/location.png" width="15px"></p><input class="region" value="서울 중랑구" readonly="readonly"></li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="check-in">
								<div>체크인</div>
								<th:block th:insert="/common/datepicker::date-picker-checkin"></th:block>
							</div>
						</div>
						<div>
							<div class="check-out">
								<div>체크아웃</div>
								<th:block th:insert="/common/datepicker::date-picker-checkout"></th:block>
							</div>
						</div>
						<div>
							<div class="number">
								<div>인원</div>
								<input class="guestsStr"  type="text" name="guestsStr" placeholder="게스트추가"  autocomplete="off">
								<button onclick="btnClick()" class="submit-btn" type="submit"><img src="/image/search-01.png" width="45px"></button>
								
								<div class="add-guests" style="display: none;">
									<div>
										<ul class="flex between">
											<li>
												<div>성인</div>
												<div>만 13세 이상</div>
											</li>
											<li class="flex">
												<div class="down">-</div>
												<input class="guest1" value="0" type="number">
												<div class="up">+</div>
											</li>
										</ul>
										<ul class="flex between">
											<li>
												<div>어린이</div>
												<div>만 2~12세</div>
											</li>
											<li class="flex">
												<div class="down">-</div>
												<input class="guest2" value="0" type="number">
												<div class="up">+</div>
											</li>
										</ul>
										<ul class="flex between">
											<li>
												<div>유아</div>
												<div>만 2세 미만</div>
											</li>
											<li class="flex">
												<div class="down">-</div>
												<input class="guest3" value="0" type="number">
												<div class="up">+</div>
											</li>
										</ul>
										<ul>
											<li>
												<div>반려동물</div>
												<div>도우미 반려동물을 동반하시나요?</div>
											</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main-img">
				<img src="/image/back-img.jpg" width="1920px" >
				<p>에어비앤비가<br>여행지를 찾아드릴게요!</p>
			</div>
			</form>
			
			<script type="text/javascript">
				$(function(){
					
					//위치 선택하기 클릭하면 위치 선택 팝업창 보이기
					$(".region-select").click(function(){
						$(".location-select").show();
					});
					//위치 선택하면 창 닫히면서 위치 입력받기
					$(".region").click(function(){
						var region= $(this).val();
						$(".region-select").val(region);
						$(".location-select").hide();
					});
					//위치 선택 팝업창이 아닌 다른 곳을 클릭하면 팝업창 숨김
					$("body").click(function(e) {
						if(!$(e.target).hasClass("region-select") && !$(e.target).hasClass("location-select")  ) {
							$(".location-select").hide();
						} 
					});
					//down 클릭 할 때 인원수 -1 
					$(".down").click(function(){
						
						var down= $(this).siblings("input[type=number]").val();
						//인원수가 0보다 크면
						if(parseInt(down)>0){
							$(this).siblings("input[type=number]").val(parseInt(down)-1);
						}
					});
					
					//up 클릭 할 때 인원수 +1 
					$(".up").click(function(){
						var up = $(this).siblings("input[type=number]").val();
						$(this).siblings("input[type=number]").val(parseInt(up)+1);
					});
					
					//up 또는 down을 클릭할 떼 인원 수 더한 값 계산
					$(".up, .down").click(function(){
						
						var guest1 = parseInt($(".guest1").val());
						var guest2 = parseInt($(".guest2").val()); 
						var guest3 = parseInt($(".guest3").val()); 
						
						$(".guestsStr").val("게스트 "+parseInt(guest1 + guest2 + guest3)+"명");
						
					});
					//게스트 입력창을 클릭하면 게스트 추가 팝업창 보이기
					$(".guestsStr").click(function(){
						$(".add-guests").show();
					});
					
					//게스트 추가 팝업창이 아닌 다른 곳을 클릭하면 팝업창 숨김
					$("body").click(function(e) {
						if($(e.target).parents('.number').length < 1) {
							$(".add-guests").hide();
						} 
					});
					
				});
			
			</script>
		</main>
	</body>
</html>