<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/main/main.css">
	</head>
	<body>
	
	<header id="blacktype">
		<div class="index-view-size">
		<th:block th:replace="~{/common/header::blacktype(~{this::indexMain})}">
			<div class="big-search" th:fragment="indexMain">
				<ul class="flex">
					<li><a href="/home/list">숙소</a></li> 
					<li><a href="#">체험</a></li>
					<li><a href="#">온라인체험</a></li>
				</ul>
			</div>
		</th:block>
		</div>
	</header>
		
		<main>
			<div id="search-tab">
				<div class="search">
					<div class="search-detail flex center ">
						<div>
							<div class="location">
								<div>위치</div>
								<input placeholder="어디로 여행가세요?">
							</div>
						</div>
						<div>
							<div class="check-in">
								<div>체크인</div>
								<input type="date" placeholder="날짜입력">
							</div>
						</div>
						<div>
							<div class="check-out">
								<div>체크아웃</div>
								<input type="date" placeholder="날짜입력">
							</div>
						</div>
						<div>
							<div  class="number">
								<div>인원</div>
								<input placeholder="게스트추가">
								<a><img src="/image/search-01.png" width="45px"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main-img">
				<img src="/image/back-img.jpg" width="1920px" >
				<p>에어비앤비가<br>여행지를 찾아드릴게요!</p>
			</div>
			<div class="background" style="display: none;">
		  <div class="window">
			<div class="login-page">
				<h1>로그인</h1>
				<div id="login">
					<a href="/"><img src="/image/airbnb_logo-p.png" width=120px></a>
					<div class="log-form">
						<form action="/login" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<div class="error" th:if="${param.error}">
						[[${session["SPRING_SECURITY_LAST_EXCEPTION"].message}]]
						</div>		
							<ul>
								<li>
									<p>이메일</p>
									<input name="email" type="text" placeholder="이메일을 입력하세요">
								</li>
								<li>
									<p>비밀번호</p>
									<input name="password" type="password" placeholder="비밀번호를 입력하세요">
								</li>
								<li>
									<button type="submit">로그인</button>
								</li>
							</ul>
							<p class="join"><a href="/join">회원가입</a></p>
						</form>	
					</div>
				</div>
			</div>
		</div>
		</div>
		</main>
	</body>
</html>