<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<main>
			<div>
				<h1>로그인</h1>
				<form action="/login" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<ul>
						<li>
							<input name="email" type="text" placeholder="이메일을 입력하세요">
						</li>
						<li>
							<input name="password" type="password" placeholder="비밀번호를 입력하세요">
						</li>
						<li>
							<button type="submit">로그인</button>
						</li>
						
					</ul>
				</form>	
			</div>
		</main>
	</body>
</html>