@charset "UTF-8";

.home-reg-view-size{
	width: 600px;
	margin: 0 auto;
}
/* //////////////////////////////////////// */
#home-reg .home-reg{
	text-align: center;
	margin-top: 35px;
	text-align: center;
}

#home-reg p{
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
	color: #ff2e5f;
}
#home-reg input{
	width: 600px;
	height: 45px;
	padding: 0 10px;
	margin-top: 10px;
	border: 1px solid #e9e9e9;
	border-radius: 8px;
}
#home-reg textarea{
	width: 600px;
	height: 200px;
	padding: 10px 10px;
	margin-top: 10px;
	border: 1px solid #e9e9e9;
	border-radius: 6px;
}
#home-reg .homePrice input{
	width: 550px;
}
#home-reg .homePrice p{
	font-size: 17px;
	color: black;
	padding: 5px 5px 0 0;
	font-weight: 500;
}
#home-reg .home-detail-number input{
	width: 145px;
}
/* ////////////////////////// */
#home-reg button{
	margin:40px 0 40px 0
	;
	border: none;
	width: 600px;
	height: 50px;
	background-color: #ff2e5f;
	border-radius: 3px;
	color: white;
	font-size: 18px;
	font-weight: 600;	
	cursor: pointer;
}
/* ////////////////////////// */
#home-reg .box-radio-input input[type="radio"], input[type="checkbox"]{
  display:none;
}
#home-reg .box-radio-input input[type="radio"] + span, input[type="checkbox"] + span{
	margin:10px 0 0 0;
  display:inline-block;
  background:none;
  border:1px solid #e9e9e9;  
  text-align:center;
  height:45px;
  line-height:43px;
  font-weight:400;
  cursor:pointer;
  width: 194px;
  font-size: 14px;
  border-radius: 6px;
}
#home-reg .box-radio-input input[type="radio"]:checked + span, input[type="checkbox"]:checked + span{
  background: #ff2e5f;
  color:#fff;
}