@charset "UTF-8";

.home-reg-view-size{
	width: 730px;
	margin: 0 auto;
}

.select-view-size{
	width: 600px;
}
/* //////////////////////////////////////// */
#home-reg h2{
	font-size: 32px;
}
#home-reg .title{
	padding: 54px 0 30px 0;
	text-align: left;
}
#home-reg .title span{
	font-weight: 300;
}
/* //////////////////////////////////////// */
#home-reg .home-reg{
	text-align: center;
}
#home-reg .home-reg-info>div{
	margin-top: 30px;
}

#home-reg .home-reg-info>div> p{
	width:130px;
	text-align: left;
	font-size: 15px;
	font-weight: 500;
	color: black;
}
#home-reg input{
	width: 600px;
	height: 55px;
	padding: 0 20px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	outline: none;
}
#home-reg .home-address-part>div:nth-child(2){
	margin-top: 10px;
}

/* ///////////////////////////////////////////////// */
#home-reg .home-detail-number{
	padding: 0 20px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	line-height:55px;
	font-size: 13px;
}
#home-reg .home-detail-number p{
	width: 60px;
}
#home-reg .home-detail-number> div:not(:nth-child(4))::after{
	content: "|";
	line-height: 55px;
	color: #DDDDDD;
	font-weight: lighter;
	padding: 0 16px;
	
}
#home-reg .home-detail-number input{
	width: 40px;
	text-align: center;
	border: none;
	font-weight: 600;
	padding: 0;
}
/* ////////////////////////// */
#home-reg input[type="radio"], input[type="checkbox"]{
  display:none;
}

#home-reg .home-type{
	width: 600px;
	height: 55px;
	border:1px solid #DDDDDD;
	border-radius: 8px;
}

#home-reg .box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:none;
  text-align:center;
  height:55px;
  line-height:53px;
  font-weight:400;
  cursor:pointer;
  width: 200px;
  font-size: 14px;
  border-radius: 8px;
}
#home-reg .box-radio-input input[type="radio"]:checked + span{
  background:rgb(247, 247, 247);
  border:1px solid black;
}

/* ///////////////////////////////////////////////// */
#home-reg .home-option>div >div:nth-child(2){
	margin-top: 8px;
}
#home-reg .home-option input[type="checkbox"]:checked + label{
  background:rgb(247, 247, 247);
  border:1px solid black;
  color:black;
}

#home-reg .home-option .checkbox-style {
	display:inline-block;
	width: 195px;
	height: 120px;
	border:1px solid #DDDDDD;
	border-radius: 8px;
	text-align:center;
	cursor:pointer;
}
#home-reg .home-option .checkbox-style i {
	display:inline-block;
	width: 100%;
	padding-top: 35px;
}
#home-reg .home-option .checkbox-style span {
	display:inline-block;
	font-size: 14px;
	padding-top: 5px;
}
/* ////////////////////////// */
#home-reg textarea{
	width: 600px;
	height: 200px;
	padding: 10px 10px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	outline: none;
}
/* ////////////////////////// */
#home-reg .main-image{
	position: relative;
	margin-top: 10px;
}
#home-reg .main-image .main-style{
	display:inline-block;
	width: 600px;
	height: 520px;
	z-index: 10;
}
#home-reg .main-image .main-style i{
	font-size: 30px;
	line-height: 520px;
}
#home-reg .main-image .main-image-disp{
	position: absolute;
	top:0;
	left:0;
	width: 600px;
	height: 520px;
	z-index: -3;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}
/* ////////////////////////// */
#home-reg .sub-image{
	width: 600px;
}
#home-reg .sub-image-content{
	margin-top: 10px;
	position: relative;
}
#home-reg .sub-image-content .sub-style{
	display:inline-block;
	width: 295px;
	height: 260px;
	z-index: 10;
}
#home-reg .sub-image .sub-style i{
	font-size: 20px;
	line-height: 260px;
}
#home-reg .sub-image .sub-image-disp{
	position: absolute;
	top:0;
	left:0;
	width: 295px;
	height: 260px;
	z-index: -3;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}

/* ////////////////////////// */
#home-reg button{
	margin:70px 0 80px 0;
	border: none;
	width: 200px;
	height: 50px;
	background-color: #ff2e5f;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-weight: 600;	
	cursor: pointer;
}