<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/home/homes.css">
	</head>
	<body>
		<th:block th:insert="/common/login.html::login"/>
		<header id="whitetype">
		<div class="home-view-size">
			<th:block th:replace="~{/common/header::whitetype(~{this::homeMain})}">
				<div class="search" th:fragment="homeMain">
					<div class="flex search-detail" th:if="${searchDto}">
						<div>
							<input th:value="${searchDto.location}" placeholder="위치" readonly="readonly">
						</div>
						<div>
							<input th:value="${#temporals.format(searchDto.checkin,'MM월dd일')}" placeholder="날짜입력" readonly="readonly">
							<th:block th:if="${searchDto.checkin}">~</th:block>
							<input th:if="${searchDto.checkout}" th:value="${#temporals.format(searchDto.checkout,'MM월dd일')}" readonly="readonly">
						</div>
						<div>
							<input th:value="${searchDto.guestsStr}" placeholder="게스트추가" readonly="readonly">
							<a><img src="/image/search-01.png" width="30px"></a>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		</header>
		
		<section id="filter-menu">
			<div class="flex home-view-size">
				<div class="flex">
					<ul class="flex">
						<li><button class="price-range">요금</button></li>
						<li><button class="room-type">숙소유형</button></li>
					</ul>
					<ul class="filter flex">
						<li><button>주방</button></li>
						<li><button>무선인터넷</button></li>
						<li><button>세탁기</button></li>
					</ul>
				</div>
			</div>
		</section>
		
		<main class="flex home-view-size">
			<section class="left-main">
				<div id="home-list">
					<div class="home-list" th:each="homes:${homes}">
						<h1>집정보</h1>
						<input type="hidden" id="homeAddress" th:value="${homes.homeAddress}">
						<div class="flex between">
							<div><img th:src="|/image/home-img/${homes.hno}_main-img.jpg|" width="300px" height="200px"></div>
							<div class="home-info">
								<div>
									<ul>
										<li class="home-type">[[${homes.homeType.homeType}]]</li>
										<li id="homeName" class="home-name"><a th:href="|/home/detail/${homes.hno}|">[[${homes.homeName}]]</a></li>
										<li class="home-number">
											<div class="flex">
												<div>최대인원 <span>[[${homes.maximumNumber}]]</span>명</div>
												<div>침대 <span>[[${homes.bedNumber}]]</span>개</div>
												<div>침실 <span>[[${homes.bedroomNumber}]]</span>개</div>
												<div>욕실 <span>[[${homes.bathroomNumber}]]</span>개</div>
											</div>
										</li>
										<li class="home-filter">
											<span th:each="ho : ${homes.homeOptionSet}">[[${ho.homeOption}]]</span>
										</li>
									</ul>
									<ul class="home-price">
										<li>[[${#numbers.formatInteger(homes.homePrice,3,'COMMA')}]]원&nbsp;<span>/박</span></li>
									</ul>
								</div>
							</div>
							<div class="home-comment">
								<ul class="flex end">
									<!-- <li>별점</li>
									<li>(후기)</li> -->
									<li><a><img src="/image/heart.png"></a></li>
								</ul>
							</div>
						</div>
						<!-- ///////////////////////////////////인포윈도우////////////////////////////////// -->
						<section>
							<div id="infowindow">
								<div>
								 	<img class="info-img" th:src="|/image/home-img/${homes.hno}_main-img.jpg|">
								 	<img class="info-close" src="/image/x.png">
								 	<div class="info">
									 	<div class="info-home-type">[[${homes.homeType.homeType}]]</div>
									 	<a class="info-home-name" th:href="|/home/detail/${homes.hno}|">[[${homes.homeName}]]</a>
										<div class="flex info-home-number">
											<div>최대인원 <span>[[${homes.maximumNumber}]]</span>명</div>
											<div>침대 <span>[[${homes.bedNumber}]]</span>개</div>
											<div>침실 <span>[[${homes.bedroomNumber}]]</span>개</div>
											<div>욕실 <span>[[${homes.bathroomNumber}]]</span>개</div>
										</div>
										<div class="info-home-price">
											[[${#numbers.formatInteger(homes.homePrice,3,'COMMA')}]]원&nbsp;<span>/ 박</span>
										</div>
									</div>
							 	</div>
							</div>
						</section>
						<!-- ///////////////////////////////////인포윈도우////////////////////////////////// -->
						
					</div>
				</div>
				
				<div id="paging" >
					<div th:if="${paging}" >
	        			<span th:if="${paging.from gt 1}">
	        				<a href="/home/list?page=1">&lt;&lt;</a>
	        				<a th:href="|/home/list?page=${paging.from-1}|">&lt;</a>
	        			</span>
	        			<span th:each="paging:${#numbers.sequence( paging.from , paging.to)}">
	        				<a th:href="|/home/list?page=${paging}|">[[${paging}]]</a>
	        			</span>
	        			<span th:if="${paging.to lt paging.pageTotal}">
	        				<a th:href="|/home/list?page=${paging.to+1}|">&gt;</a>
	        				<a th:href="|/home/list?page=${paging.pageTotal}|">&gt;&gt;</a>
	        			</span>
	        		</div>
				</div>
			</section>
			
			
			
			<section>
				<div id="map"></div>
			</section>
			
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44c331bb2848d75067011ce7a893d31f&libraries=services"></script>
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44c331bb2848d75067011ce7a893d31f"></script>
			<script th:inline="javascript">
			
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(37.6568255, 127.021725), // 지도의 중심좌표
		        level: 7 // 지도의 확대 레벨
		    };  

			// 지도를 생성
			var map = new kakao.maps.Map(mapContainer, mapOption); 
	
			/*[# th:each="homes : ${homes}"]*/
			
			
			var homeAddress= /*[[${homes.homeAddress}]]*/;
			
			var geocoder = new kakao.maps.services.Geocoder();
			var imageSrc = "/image/airbnb_marker.png"; 
			
			// 주소로 좌표를 검색
			geocoder.addressSearch(homeAddress, function(result, status) {

			    // 정상적으로 검색이 완료됐으면 
			     if (status === kakao.maps.services.Status.OK) {

			        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
			        map.setCenter(coords);

			        var imageSize = new kakao.maps.Size(50, 60); 
			        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
			        
			        // 결과값으로 받은 위치를 마커로 표시
			        var marker = new kakao.maps.Marker({
			            position: coords,
			            image : markerImage,
			            clickable: true,
			            map:map
			        });
			        
			        
			     	var content = document.getElementById("infowindow");
			        var iwRemoveable=false;
			        
				     
				     // 커스텀 오버레이를 생성합니다
				   	 var customOverlay = new kakao.maps.CustomOverlay({
				         content: content,
				         position: coords
				     });
				     
				     kakao.maps.event.addListener(marker, 'click', function() {
				         // 마커 위에 인포윈도우를 표시
				         customOverlay.setMap(map);  
				         
				   });
				  // 커스텀 오버레이를 닫기 위해 호출되는 함수
					   function closeOverlay() {
						 /*  customOverlay.setMap(null);      */
						 alert("클릭됨");
						}
				     
			    } 
			    
		 	 
			}); 
			
			
			$(function(){
				
				$(".info-close").click(function(){
					$(this).parents("div").parents("#infowindow").hide();
				});
				
			});
					
			
			/*[/]*/
			
			
			
			</script>
			
		</main>
		
		<footer id="homes-page-footer">
			<th:block th:insert="/common/footer::footer"/>	
		</footer>
	</body>
</html>