<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:insert="/common/common.html::head" />
		<link rel="stylesheet" href="/css/common/header-nav.css">
		<link rel="stylesheet" href="/css/home/homes.css">
	</head>
	<body>
		<header>
			<section id="header">
				<div class="flex between view">
					<div class="logo">
						<a href="/"><img src="/image/airbnb_logo-w.png" width=120px></a>
					</div>
					<div class="search">
						<div class="flex search-detail">
							<div><input type="text" placeholder="위치"></div>
							<div><input type="date" placeholder="체크인"></div>
							<div><input type="date" placeholder="체크아웃"></div>
							<div>
								<input type="text" placeholder="인원">
								<a><img src="/image/search-01.png" width="30px"></a>
							</div>
						</div>
					</div>
					<th:block th:insert="/common/header-nav.html::header-nav"/>
				</div>
			</section>
			
			<section id="filter-menu">
				<div class="flex view">
					<div class="flex">
						<ul class="flex">
							<li><button class="price-range">요금</button></li>
							<li><button class="room-type">숙소유형</button></li>
						</ul>
						<ul class="filter flex">
							<li><button>주방</button></li>
							<li><button>무선인터넷</button></li>
							<li><button>세탁기</button></li>
						</ul>
					</div>
				</div>
			</section>
		</header>
		
		<main class="flex between">
			<section id="home-list">
				<h1>집정보</h1>
				<div class="home-list">
					<div class="flex between">
						<div><img src="/image/room-img-01.jpg" width="300px" height="200px"></div>
						<div class="home-info">
							<div>
								<ul>
									<li>숙소유형</li>
									<li class="home-name"><a href="/home/detail">house#1. Hangang view house</a></li>
									<li class="home-filter">
										<span>최대인원4명</span><span>원룸</span><span>침대1</span><span>욕실1</span>
									</li>
								</ul>
								<ul class="home-price">
									<li>100,000원&nbsp;<span>/박</span></li>
								</ul>
							</div>
						</div>
						<div class="home-comment">
							<ul class="flex">
								<li>별점</li>
								<li>(후기)</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<div id="map" style="width:100vh;height:100vh;"></div>
			</section>
			
			<script>
				var container = document.getElementById('map');
				var options = {
					center: new kakao.maps.LatLng(33.450701, 126.570667),
					level: 3
				};
		
				var map = new kakao.maps.Map(container, options);
			</script>
			
		</main>
	</body>
</html>