<!-- <div>
						<P>내가 작성한 후기</P>
						<div class="review" th:if="${homeReview}">
							<div class="review-list" th:each="homeReview:${homeReview}">
								<div>[[${homeReview.createdDate.toLocalDate}]]</div>
								<div class="room-name">
									<a th:href="|/home/detail/${homeReview.home.hno}|">[[${homeReview.home.homeName}]]</a>
								</div>
								<div>[[#{homeReview.review}]]</div>
							</div>
						</div>
					</div> -->
					
					
					
						<!-- <div>
						<P>나의 숙소 후기</P>
						<div>
						<div class="review" th:if="${myHomeReviewEntity}">
							<div class="review-list" th:each="myHomeReviewEntity:${myHomeReviewEntity}">
								<div>[[${myHomeReviewEntity.createdDate.toLocalDate}]]</div>
								<div class="room-name">
									<a th:href="|/home/detail/${myHomeReviewEntity.home.hno}|">[[${myHomeReviewEntity.home.homeName}]]</a>
								</div>
								<div>[[${myHomeReviewEntity.review}]]</div>
							</div>
						</div>
						</div>
					</div> -->
					