<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<section class="right-content">
	<div class="right-title">
		<p>[[${targetName.name}]]</p>
		<input type="hidden" class="targetName" th:value="${targetName.email}">
	</div>
	<div>
		<div class="message-content" th:each="targetMessage:${targetMessages}">
			<div class="date">[[${#temporals.format(targetMessage.createdDate,'yyyy년 MM월 dd일')}]]</div>
			<div class="message-sender flex">
				<div class="sender-photo">
					<img th:src="|/image/member/${targetMessage.sender.photoName}|" width="36px" height="36px;">
				</div>
				<div class="message-detail">
					<div class="flex">
						<div class="sender-name">[[${targetMessage.sender.name}]]</div>
						<div class="send-time">[[${#temporals.format(targetMessage.createdDate,'HH:mm')}]]</div>
					</div>
					<div class="content">
						[[${targetMessage.message}]]
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="message-write">
		<div class="flex">
			<textarea class="write-area" placeholder="메세지를 입력하세요."></textarea>
			<div class="send-btn"><i class="fas fa-arrow-circle-up"></i></div>
		</div>
	</div>
	
	
	<script type="text/javascript">
		$(function(){
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			 $(document).ajaxSend(function(e, xhr, options) {
			        xhr.setRequestHeader(header, token);
		    });
			
			 //메세지 페이지에서 메세지 보내기
			$(".send-btn").click(function(){
				var message=$(this).siblings(".write-area").val();
				var targetName=$(".targetName").val();
				$.ajax({
					url:"/member/message/detail",
					type:"post",
					data:{message:message ,targetName:targetName},
					success:function(){
						loadingMessage(targetName);
					}
				});
			});
			
		});
	
	
	</script>
	
</section>



</html>