@charset "UTF-8";
.br{
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #e9e9e9;
	padding: 0px 0 50px;
}

/* //////////////////////////////////////// */

#member-profile{
	width: 300px;
	padding: 24px;
	margin: 65px 0 100px 0 ;
	font-size: 15px;
	border: 1px solid  rgb(221, 221, 221);
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
	border-radius: 10px;
}
#member-profile img{
	text-align: center;
	border: 1px solid #dadada;
	border-radius: 50%;
}
#member-profile .profile-img{
	text-align: center;
	margin: 20px 0 30px;
	font-size: 13px;
	text-decoration: underline;
}
#member-profile .badge{
	border-bottom: 1px solid #DDDDDD;
}
#member-profile .badge h2{
	font-size: 19px;
	margin: 20px 0 8px;
	font-weight: 500;
}
#member-profile .badge p{
	font-size: 17px;
	margin: 0 0 16px;
	font-weight: 300;
	line-height: 1.3em;
}
#member-profile .badge button{
	width:116px;
	height:48px;
	font-size: 17px;
	background-color:white;
	border:1px solid black;
	border-radius:8px;
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 32px;
	cursor: pointer;
}
#member-profile .confirm h2{
	font-size: 23px;
	margin: 20px 0 20px;
	font-weight: 500;
}
#member-profile .confirm p{
	font-size: 17px;
	margin-bottom: 16px;
	font-weight: 300;
}
#member-profile .confirm i{
	font-size: 15px;
	margin-right: 10px;
}
/* //////////////////////////////////////// */
#part{
	width: 850px;
	border-bottom: 1px solid #e9e9e9;
}
#part li{
	display:inline-block;
	width:120px;
	margin:30px 10px 0 10px;
	height:33px;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}
#part li p{
	margin-top:9px;
	border-bottom: 3px solid #ff2e5f;
}
/* //////////////////////////////////////// */
#part-detail{
	width: 850px;
	margin: 0 auto;
}
/* //////////////////////////////////////// */
#part-detail{
	margin-top:30px;
}
#part-detail p{
	font-size: 20px;
	font-weight: 600;
	margin: 30px 0 10px;
}
/* /////////////////리뷰/////////////////// */
#review div p{
	margin:0;
	padding: 15px 9px 0 0;
	font-size: 17px;
	font-weight: 500;
}
#review div p:nth-child(2){
	margin:0;
	padding: 15px 8px 0 0;
	font-size: 11px;
	line-height: 30px;
	font-weight: lighter;
}
#review .review-data{
	margin:0;
	padding: 5px 0 0 0;
	font-size: 11px !important;
	font-weight: 400 !important;
}
#review .review-write-btn{
	cursor: pointer;
}
#review .review-write-area{
	padding:5px 10px;
	width: 100%;
	height: 70px;
	outline: none;
	font-size: 11px;
	border: 1px solid #DDDDDD;
}
#review .edit-button {
	padding-top: 10px;
}
#review .submit-btn, .cancel-btn {
	background-color:white;
	border: 1px solid #a9a9a9;
	padding: 2px 8px;
	color: black;
	font-size: 9px;
	cursor: pointer;
	margin-left:3px;
}

/* ////////////////게스트/////////////////////// */
#guest-part .reserve-room{
	width: 850px;
}
#guest-part .reserve-room-list{
	height: 470px;
	padding: 17px;
	width: 390px;
	border-radius: 10px;
	border: 1px solid #e9e9e9;
	margin-right: 30px;
	/* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
	
}
#guest-part .reserve-room img{
	border-radius: 5px;
}
#guest-part .reserve-room .home-info{
	padding-left: 18px;
}
#guest-part .reserve-room .home-type{
	font-size: 10px;
}
#guest-part .reserve-room .home-name{
	font-size: 12px;
	font-weight: 500;
}
#guest-part .reserve-room .home-info{
	position: relative;
}
#guest-part .reserve-room .home-number{
	margin-top:5px;
	font-size: 10px;
}
#guest-part .reserve-room .home-number span{
	margin-top:5px;
	font-size: 10px;
}
#guest-part .reserve-room .home-number> div>div:not(:last-child)::after{
	content: "·";
	padding: 0 1px;
}

#guest-part .reserve-info1{
	padding-bottom: 15px;
}
#guest-part .reserve-info0{
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 15px 15px;
}
#guest-part .reserve-info4>div{
	color: black;
	font-weight: lighter;
	font-size: 14px;
}
#guest-part .reserve-info4 .detail-price1{
	margin-top: 6px;
}
#guest-part .reserve-info4>div:last-child span:last-child{
	margin-top: 8px;
	font-size: 16px;
	font-weight: 600;
	color: black;
}
#guest-part .reserve-info4>div:last-child span:first-child{
	padding-top:15px;
	font-weight: 500;
}
#guest-part h3{
	font-size: 16px;
	padding-bottom: 2px;
}
#guest-part .reserve-room-list span{
	display:inline-block;
	font-size: 12px;
	font-weight: 400;
}
#paging{
	text-align: center;
	width: 810px;
}
#paging span a{
	display:inline-block;
	width: 9px;
	height: 9px;
	border:1px solid black;
	border-radius: 50%;
	margin: 40px 6px 0;
}
#paging span a:hover{
	background-color: black;
}

/* /////////////////호스트/////////////////////// */
#host-part .reserve-room-list{
	padding: 20px 20px 20px 20px;
	margin: 0 auto 8px;
	width: 850px;
	border-radius: 10px;
	border: 1px solid #e9e9e9;
	/* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
	
}
#host-part .reserve-room-list{
	margin: 0 auto 20px;
	
}
#host-part .reserve-room img{
	border-radius: 10px;
}
#host-part .reserve-room .home-info{
	width:450px;
	padding-left: 30px;
}
#host-part .reserve-room .home-name{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 700;
}
#host-part .reserve-room .home-info{
	position: relative;
}
#host-part .reserve-room .home-number{
	margin-top:10px;
	font-size: 13px;
}
#host-part .reserve-room .home-number span{
	font-weight: 500;
}
#host-part .reserve-room .home-number div:not(:last-child)::after{
	content: "·";
	color: black;
	padding: 0 5px;
}
#host-part .reserve-room .home-price{
	position: absolute;
	bottom: 0;
}
#host-part .reserve-room .home-price li{
	font-size: 18px;
	font-weight: 600;
}
#host-part .reserve-room .home-price li span{
	font-size: 15px;
	font-weight: 400;
}
#host-part .reserve-room .home-filter{
	margin-top:15px;
}
#host-part .reserve-room .home-filter span{
	display: inline-block;
	border: 1px solid #a9a9a9;
	background-color: white;
	padding: 0.4em 1.2em;
	border-radius: 13px;
	margin:0 5px 12px 0;
	font-size: 11px;
}
/* //////////////////////////////////////// */

#part-detail .review{
	margin-bottom: 80px;
}
#part-detail .review-list{
	border-bottom: 1px solid #e9e9e9;
	padding: 25px 10px;
	/* margin: 0 auto 20px; */
	width: 850px;
	/* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}
#part-detail .review-list:last-child{
	border-bottom: none;
}

#part-detail .review div:nth-child(1){
	font-size: 10px;
	font-weight: 400;
}
#part-detail .review div:nth-child(2){
	/* margin-top:5px; */
	font-size: 14px;
	font-weight: 600;
}
#part-detail .review div:nth-child(3){
	padding-top:10px;
	font-size: 12px;
	font-weight: 400;
}


